extends ../includes/mothership.pug

append vars
  - var title = 'Index'
  - var description = 'Page index'

block content
  include ./index/slider
  include ./index/feachers
  include ./index/blocks
  include ./index/action


