section.call
    .container
        .row
            .col-12.flex-column.align-items-center.d-flex
                img(src="http://placehold.it/90x90/")
                p.call__text Вызвать мастера
                .btn.btn-success.btn-hollow Вызвать мастера