.block1.block_grey
    .container
        .row.align-items-center
            .col-md-6.order-1.order-md-0
                img(src="http://placehold.it/470x505/")
            .col-md-6.order-0.order-md-1
                .title.block1__title Найдите единомышленников
                .subtitle.block1__subtitle Сообщества в Viber объединяют людей — обсуждайте темы, которые вам интересны
                .btn.btn-primary.btn-primary_hollow.block1__btn Подробнее о сообществах
.block2.block_lgrey
    .container
        .row.align-items-center
            .col-md-5.col-lg-4
                .title.block1__title Найдите единомышленников
                .subtitle.block1__subtitle Сообщества в Viber объединяют людей — обсуждайте темы, которые вам интересны
                .btn.btn-primary.btn-primary_hollow.block1__btn Подробнее о сообществах
            .col-md-7.col-lg-8.secure-img
                img(src="http://placehold.it/470x505/")