section.features
    .container
        h2.title.features__title.title_black.text-center Сообщения – это только начало
        p.subtitle.features__subtitle.subtitle_black.text-center Используйте всё богатство функций для звонков и сообщений. Самовыражению нет предела.
        .features__grid
            .grid-item
                img(src="http://placehold.it/180x170/")
                .grid__title Some text title
                .grid__subtitle Отмечайте понравившиеся сообщения и совершайте аудио- и видеозвонки прямо в группе
            .grid-item
                img(src="http://placehold.it/180x170/")
                .grid__title Some text title
                .grid__subtitle Отмечайте понравившиеся сообщения и совершайте аудио- и видеозвонки прямо в группе
            .grid-item
                img(src="http://placehold.it/180x170/")
                .grid__title Some text title
                .grid__subtitle Отмечайте понравившиеся сообщения и совершайте аудио- и видеозвонки прямо в группе
            .grid-item
                img(src="http://placehold.it/180x170/")
                .grid__title Some text title
                .grid__subtitle Отмечайте понравившиеся сообщения и совершайте аудио- и видеозвонки прямо в группе


