section.features
    .container
        h2.title.features_title.title_black
        p.subtitle.feature__subtitle.subtitle_black
        .features__grid
            .grid-item asd
            .grid-item asd
            .grid-item dasd
            .grid-item sasdasd
            .grid-item sdasd
            .grid-item sdasd

